function can_debug() {
  global $_${1:} _DEBUG;
  $allowed = array('127.0.0.1', '71.236.9.28');
  if (in_array($_SERVER['REMOTE_ADDR'], $allowed)) return $DEBUG;
    else return 0;
  }
function debug($message) {
  if (!debug()) return;
  drupal_set_message(check_plain($message));
}
function printnode () {
  if (!debug()) return;
    if (dsm($node)) {
      dsm($node);
    } else {
      print_r($node);
    }    
}
